@font-face {
  font-family: "Raleway-Regular";
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway-Thin-Italic";
  src: url(../fonts/Raleway-Thin-Italic.ttf);
}
@font-face {
  font-family: 'Raleway-Light';
  src: url(../fonts/Raleway-Light.ttf);
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 0rem;
}
h1 {
  font-size: 4.6rem;
  line-height: 5rem;
  color: #fff;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.header_section {
  background-image: url(../../img/header_img.png);
  background-size: cover;
}
.header_section header {
  border-bottom: 1px solid #6c7279;
  padding: 2.1rem 0;
  margin-bottom: 10rem;
}
@media (max-width: 768px) {
  .header_section header {
    margin-bottom: 1rem;
    padding: 1rem 0;
  }
}
@media (max-width: 768px) {
  .header_section header .main_nav {
    flex-direction: column;
  }
}
.header_section header .main_nav a {
  text-transform: uppercase;
  margin-left: 3.1rem;
  color: #fff;
}
@media (max-width: 768px) {
  .header_section header .main_nav a {
    margin-left: 0;
  }
}
.header_section .main_block {
  text-align: center;
}
.header_section .main_block h1 {
  margin-bottom: 2.8rem;
  padding: 0 5rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .header_section .main_block h1 {
    margin-bottom: 1rem;
    padding: 0;
  }
}
.header_section .main_block p {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.3rem;
  margin-bottom: 5rem;
  padding: 0 7rem;
}
@media (max-width: 768px) {
  .header_section .main_block p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
    padding: 0 1.5rem;
  }
}
.header_section .main_block .button {
  margin-bottom: 11rem;
}
@media (max-width: 768px) {
  .header_section .main_block .button {
    margin-bottom: 1rem;
  }
}
.logo {
  max-width: 80%;
  display: flex;
  height: 100%;
  align-items: center;
}
.logo img {
  width: 80%;
}
@media (max-width: 768px) {
  .logo {
    max-width: 100%;
  }
  .logo img {
    width: 100%;
  }
}
.main_container {
  font-size: 14px;
  max-width: 135.7rem;
  margin: 0 auto;
}
.button {
  text-transform: uppercase;
  color: #fff;
  padding: 1.3rem 3.2rem;
  background-color: #e84545;
  border-radius: 0.2rem;
  display: inline-block;
}
a {
  transition: 1s;
}
a:hover {
  color: #fff;
  text-decoration: none;
  transform: scale(1.1);
}
a:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}
