@font-face {
  font-family: "Raleway-Regular";
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway-Thin-Italic";
  src: url(../fonts/Raleway-Thin-Italic.ttf);
}
@font-face {
  font-family: 'Raleway-Light';
  src: url(../fonts/Raleway-Light.ttf);
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 0rem;
}
h1 {
  font-size: 4.6rem;
  line-height: 5rem;
  color: #fff;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.title {
  text-transform: uppercase;
  font-weight: 700;
  color: #2d3033;
  margin-bottom: 5%;
}
.header_section {
  background-image: url(../../img/header_img.png);
  background-size: cover;
}
.header_section header {
  border-bottom: 0.014rem solid #6c7279;
  padding: 3% 0;
  margin-bottom: 11.5%;
}
@media (max-width: 768px) {
  .header_section header .main_nav {
    flex-direction: column;
  }
}
.header_section header .main_nav a {
  text-transform: uppercase;
  margin-left: 3.1rem;
  color: #fff;
}
@media (max-width: 768px) {
  .header_section header .main_nav a {
    margin-left: 0;
  }
}
.header_section .main_block {
  text-align: center;
}
.header_section .main_block h1 {
  margin-bottom: 3.6%;
  padding: 0 6%;
  text-transform: uppercase;
}
.header_section .main_block p {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.3rem;
  margin-bottom: 6%;
  padding: 0 9%;
}
@media (max-width: 768px) {
  .header_section .main_block p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
.header_section .main_block .button {
  margin-bottom: 13%;
}
@media (max-width: 768px) {
  .header_section .main_block .button {
    /*margin-bottom: 1rem*/
  }
}
.logo {
  max-width: 80%;
  display: flex;
  height: 100%;
  align-items: center;
}
.logo img {
  width: 80%;
}
@media (max-width: 768px) {
  .logo {
    max-width: 100%;
  }
  .logo img {
    width: 100%;
  }
}
.section_functions {
  padding: 7.5% 3.7%;
}
.blocks {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .blocks {
    flex-direction: column;
    width: 400%;
  }
}
.blocks:first-child {
  margin-bottom: 0;
}
.blocks:first-child {
  margin-bottom: 6.7%;
}
.blocks .block {
  text-align: center;
  width: 25%;
}
.blocks .block img {
  margin-bottom: 8%;
}
.blocks .block .title {
  text-transform: uppercase;
}
.blocks .block p {
  color: #6c7279;
}
@media (max-width: 768px) {
  .blocks .block p {
    margin-bottom: 15%;
  }
}
.section_product_name {
  text-align: center;
}
.blocks_name {
  display: flex;
  position: relative;
}
@media (max-width: 768px) {
  .blocks_name {
    flex-direction: column;
  }
}
.blocks_name .block_name {
  border: 0.017rem solid #fff;
  width: 25%;
}
@media (max-width: 768px) {
  .blocks_name .block_name {
    width: 100%;
    position: relative;
  }
}
.blocks_name .block_name .product img {
  width: 100%;
}
.blocks_name .block_name .product_hover {
  width: 25%;
  height: 100%;
  position: absolute;
  background-color: #e84545;
  bottom: 0%;
  opacity: 0%;
  transition: 1s;
}
@media (max-width: 768px) {
  .blocks_name .block_name .product_hover {
    width: 100%;
  }
}
.blocks_name .block_name .product_hover .text_product {
  position: absolute;
  left: calc(50% - 5rem);
  bottom: calc(50% - 2rem);
}
.blocks_name .block_name .product_hover .text_product .title {
  color: #fff;
}
.blocks_name .block_name .product_hover .text_product p {
  color: #fff;
}
.blocks_name .block_name .product_hover:hover {
  opacity: 70%;
}
.section_personnel {
  padding: 6.5% 0;
}
@media (max-width: 768px) {
  .section_personnel {
    text-align: center;
  }
}
.personnel .photo_rersonnel {
  margin-bottom: 5%;
}
.personnel .name_personnel {
  font-size: 1.5rem;
  margin-bottom: 1%;
  font-weight: 600;
  color: #2d3033;
}
.personnel .title {
  color: #e84545;
}
.personnel p {
  color: #6c7279;
  margin-bottom: 5%;
}
@media (max-width: 768px) {
  .personnel {
    margin-bottom: 10%;
  }
  .personnel:last-child {
    margin-bottom: 0;
  }
}
.section_quote {
  position: relative;
}
.blocks {
  display: flex;
}
.blocks:first-child {
  margin-bottom: 0;
}
.blocks .photo {
  width: 50%;
}
.blocks .quote {
  background-color: #53354a;
  width: 50%;
  padding: 3% 9.5% 6% 5%;
}
@media (max-width: 768px) {
  .blocks .quote {
    width: 30%;
    padding: 1% 6.5% 3% 2%;
    text-align: center;
  }
}
.blocks .quote .quote_text {
  color: #fff;
  font-size: 2.5rem;
  line-height: 3rem;
  font-family: 'Cardo', serif;
  margin-bottom: 2.5%;
}
@media (max-width: 768px) {
  .blocks .quote .quote_text {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.blocks .quote .title {
  color: #fff;
}
@media (max-width: 768px) {
  .blocks .quote .title {
    font-size: 0.5rem;
  }
}
.scroll {
  height: 80%;
}
.size_photo {
  width: 100%;
}
@media (max-width: 768px) {
  .size_photo {
    width: 50%;
  }
}
.indicaror_castom {
  left: 46%;
  bottom: 13%;
}
@media (max-width: 768px) {
  .indicaror_castom {
    left: 0;
    bottom: 0;
  }
}
.indicaror_castom .castom {
  background-clip: border-box;
  width: 1.3rem;
  border-radius: 50%;
  height: 0;
  margin-left: 2%;
}
.download_section {
  text-align: center;
  padding: 6.5% 0;
}
.download_section .text_download {
  font-size: 2rem;
  color: #2d3033;
  margin-bottom: 1%;
}
@media (max-width: 768px) {
  .download_section .text_download {
    font-size: 1.5rem;
  }
}
.download_section .title {
  margin-bottom: 2.5%;
}
@media (max-width: 768px) {
  .download_section .title {
    font-size: 0.5rem;
  }
}
.download_section .button {
  padding: 1% 7%;
}
.section_requisies {
  background-color: #3a3e64;
  text-align: center;
  padding: 3.7% 0 4.5%;
}
@media (max-width: 768px) {
  .section_requisies .blocks {
    width: 100%;
  }
}
.section_requisies .blocks .location {
  width: 30%;
}
@media (max-width: 768px) {
  .section_requisies .blocks .location {
    width: 100%;
    margin-bottom: 5%;
  }
  .section_requisies .blocks .location:last-child {
    margin-bottom: 0%;
  }
}
.section_requisies .blocks .location .title {
  color: #fff;
  margin-bottom: 5%;
}
@media (max-width: 768px) {
  .section_requisies .blocks .location .title {
    margin-bottom: 2%;
  }
}
.section_requisies .blocks .location .sotial a {
  border: 0.1rem solid #fff;
  color: #fff;
}
.section_requisies .blocks .location p {
  color: #6c7279;
}
.footer {
  background-color: #313454;
  text-align: center;
  padding: 1.5% 0;
}
.footer p {
  color: #6c7279;
}
@media (max-width: 768px) {
  .footer p {
    font-size: 0.5rem;
  }
  .footer p:first-child {
    margin-bottom: -2%;
  }
}
.footer p .fa {
  color: #e84545;
}
.footer p .author {
  color: #fff;
}
.main_container {
  font-size: 14px;
  max-width: 135.7rem;
  margin: 0 auto;
}
.button {
  text-transform: uppercase;
  color: #fff;
  padding: 1.3rem 3.2rem;
  background-color: #e84545;
  border-radius: 0.2rem;
  display: inline-block;
}
a {
  transition: 1s;
}
a:hover {
  color: #fff;
  text-decoration: none;
  transform: scale(1.1);
}
a:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}
.sotial a {
  font-size: 1.5rem;
  border: 0.1rem solid #c6cacc;
  color: #c6cacc;
  padding: 0.7rem;
  border-radius: 0.2rem;
}
.sotial a:first-child {
  padding: 0.7rem 1rem 0.7rem;
}
