// out: false



.header_section {
    background-image: url(../../img/header_img.png);
    background-size: cover;
    header {
        border-bottom: 0.014rem solid @grey;
        padding: 3% 0;
        margin-bottom: 11.5%;
       

        .main_nav {
            @media @md-breakpoint {
                flex-direction: column;
                 
            }
            a{
                text-transform: uppercase;
                margin-left: 3.1rem;
                color: @white;
                @media @md-breakpoint {
                    margin-left: 0;
                }
            }
        }
    }
    .main_block {
        text-align: center;
        h1{
            margin-bottom: 3.6%;
            padding: 0 6%;
            text-transform: uppercase;
            
        }
        p{
            color: @white;
            font-size: 1.5rem;
            line-height: 2.3rem;
            margin-bottom: 6%;
            padding: 0 9%;
            @media @md-breakpoint{
            font-size: 1.2rem;
            line-height: 1.4rem;
            }
        }
        .button{
            margin-bottom: 13%;
            @media @md-breakpoint{
                /*margin-bottom: 1rem*/
            }
        }
    }
}


.logo {
    max-width: 80%;
    display: flex;
    height: 100%;
    align-items: center;
    img {
        width: 80%;
    }
   
    @media @md-breakpoint {
        max-width: 100%;
        img {
            width: 100%;
        }
    }
}