// out: false
@font-face{
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: "Raleway-Thin-Italic";
    src: url(../fonts/Raleway-Thin-Italic.ttf);
}
@font-face {
    font-family: 'Raleway-Light';
    src: url(../fonts/Raleway-Light.ttf);
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 0rem;
}
h1 {
    font-size: 4.6rem;
    line-height: 5rem;
    color: @white;
    @media @md-breakpoint{
        font-size: 1.6rem;
        line-height: 2rem;
    }
}
.title{
    text-transform: uppercase;
    font-weight: 700;
    color: @black;
    margin-bottom: 5%;
}